/* universal boxsizing -----------*/
*{
	box-sizing: border-box;
	}

	
/* ALL elements -----------*/	
html, body {
    font-family: Tahoma, Geneva, sans-serif;
    width: 100%;
	font-size: 13px;
	color: #03457f;
    font-family: 'Open Sans', sans-serif;
	background-color: #e2eefa;
}

a{
	text-decoration: none;
	}
	
a:hover{
	transition: all ease 0.5s;
	opacity: 0.6;
}

img{
	max-width: 100%;
	height: auto;
}

p{
	line-height: 1.6;
	padding: 5px 15px;
	}

h1, h2, h3, h4, h5{
	font-weight: bolder;
}

h1{
	font-size: 22px;
	}

h2{
	font-size: 18px;
	}

	
/* header -----------*/
header{
	background-color: #404040;
	opacity: 0.9;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0px;
	color: white;
	z-index: 999;
	padding-top: 15px;
	display: flex;
	align-items: baseline;
	}

#logo{
	padding: 0px 5px 0px 20px;
}

header>h2{
	padding-left: 10px;
	font-size: 12px;
	font-weight: normal;
}

header>dl{
	margin-left: auto;
	padding-right: 15px;
}

#searchform4 {  
    width: 200px;  
    background: url(../images/input4.gif) left top no-repeat;   
    display: block;  
    height: 24px;  
    position: relative;
}  

#keywords4  {  
    width: 156px;  
    position: absolute;  
    top: 3px;  
    left: 12px;  
    border: 1px solid #404040;
    color: white;
    background-color: #404040;
}  

#searchBtn4 {  
    position: absolute;  
    top: 3px;  
    left: 174px;  
}  

/* nav -----------*/
nav{
	background-color: #03457f;
    background: linear-gradient(to right, #03457f, #03457f,  #e2eefa);
	opacity: 0.9;
	width: 100%;
	height: 30px;
	top: 50px;
	position: fixed;
	display: flex;
	align-items: center;
	font-weight: bolder;
}

nav li{
	display: inline;
	padding-right: 20px;
}

nav a{
	color: white;
}

#leftnav{
	margin-left: auto;
}
#leftnav a{
	color: #404040;
}

#icon_home{
	float: left;
	margin: 0 10px;
}


/* wrapper -----------*/
#wrapper{
	height: auto;
	margin: 100px auto 20px auto;
	width: 90%;
	overflow: hidden;
	}
	
/* aside -----------*/
aside{
	float: left;
	width: 20%;
}

aside ul{
	margin-bottom: 20px;
	border: 1px solid white;
}

aside li{
	border-bottom: 1px solid white;
	padding: 4px 0px 4px 10px;
}

aside .navhead{
	background-color:white;
	text-align: center;
	font-weight: bolder;
	font-size: 15px;
}

aside li:last-child{
	border: none;
}

aside a{
	color: #404040;
	font-size: 12px;
}

aside .active{
	background-color: #666;
}

aside .active_a{
	color: white;
	font-weight: bolder;
}



/* main -----------*/
main{
	display: inline-block;
	width: 75%;
	margin-left: 30px;
}

main>h1{
	margin-bottom: 15px;
	padding: 10px 25px;
	background-color: white;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
	border-radius: 10px;
	font-size: 15px;
	color: #404040;
    box-shadow: 0px 3px 5px #ccc;
}

main>h2{
	color: #404040;
	font-size: 15px;
	border-radius: 10px 10px 0px 0px;
	border: 1px solid white;
	padding: 5px 25px;
	background-color: white;
}

section{
	border-radius: 0px 0px 10px 10px;
	border: 1px solid white;
	background-color: #f2f7fb;
	padding: 10px 15px 10px 25px;
	margin-bottom: 20px;
    box-shadow: 0px 3px 5px #ccc;
	}

section h3{
	font-size: 20px;
	color: #202020;
	padding: 10px 5px;
	margin: 10px 0px 15px 0px;
	border-bottom: 1px dashed #909090;
	border-top: 1px dashed #909090;
}

section h4{
	font-size: 15px;
	color: #404040;
	padding: 6px 10px;
	display: inline-block;
	line-height: 1.5;
	background: #e2eefa;
	vertical-align: middle;
	border-radius: 25px 0px 0px 25px;
	margin-bottom: 5px;
    box-shadow: 0px 1px 3px #ccc;
}

section h4:before {
	content: '●';
	color: white;
	margin-right: 8px;
}

section h5{
	padding: 7px 10px;
}

section ul{
	margin: 2px;
}
section li{
	list-style: circle;
	line-height: 1.6;
	margin-left: 40px;
}

section a{
	color: #404040;
	text-decoration: underline;
}

.content{
	margin-bottom: 40px;
}

		
/* footer -----------*/
footer{
	margin: 20px 0px;
	padding: 10px;
	border: 1px solid white;
	border-radius: 10px;
	font-size: 12px;
}
	
footer li{
	padding: 5px;
	display: inline;
}
	
footer a{
	color: #404040;
	font-weight: bolder;
}